<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false">
    <testsuites>
        <testsuite name="ThinkAdmin Safe Unit Suite">
            <file>plugin/think-library/tests/CodeTest.php</file>
            <file>plugin/think-library/tests/JwtTest.php</file>
            <file>plugin/think-library/tests/CommonFunctionsTest.php</file>
            <file>plugin/think-library/tests/ArchitectureBoundaryTest.php</file>
            <file>plugin/think-library/tests/ComposerInstallBoundaryTest.php</file>
            <file>plugin/think-library/tests/RouteTemplateBoundaryTest.php</file>
            <file>plugin/think-library/tests/MultAccessDispatchTest.php</file>
            <file>plugin/think-library/tests/ComposerDependencyBoundaryTest.php</file>
            <file>plugin/think-library/tests/MigrationOwnershipTest.php</file>
            <file>plugin/think-library/tests/FormBuilderTest.php</file>
            <file>plugin/think-library/tests/PageBuilderTest.php</file>
            <file>plugin/think-library/tests/RequestTokenServiceTest.php</file>
            <file>plugin/think-plugs-helper/tests/PublishTest.php</file>
            <file>plugin/think-plugs-helper/tests/IndexNameServiceTest.php</file>
            <file>plugin/think-plugs-helper/tests/PluginMenuServiceTest.php</file>
            <file>plugin/think-plugs-system/tests/ApiSystemControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/ApiQueueControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/AuthControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/BaseControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/ConfigControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/IndexControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/LoginControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/MenuControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/OplogControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/PlugsControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/QueueControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/UploadControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/UserControllerTest.php</file>
            <file>plugin/think-plugs-system/tests/FileControllerTest.php</file>
            <file>plugin/think-plugs-storage/tests/StorageTest.php</file>
            <file>plugin/think-plugs-storage/tests/UploadControllerTest.php</file>
            <file>plugin/think-plugs-account/tests/AccountRuntimeTest.php</file>
            <file>plugin/think-plugs-account/tests/AccountIntegrationTest.php</file>
            <file>plugin/think-plugs-account/tests/AccountCenterControllerTest.php</file>
            <file>plugin/think-plugs-account/tests/AccountAdminListControllerTest.php</file>
            <file>plugin/think-plugs-payment/tests/PaymentTest.php</file>
            <file>plugin/think-plugs-payment/tests/PaymentRecordControllerTest.php</file>
            <file>plugin/think-plugs-payment/tests/PaymentLedgerControllerTest.php</file>
            <file>plugin/think-plugs-payment/tests/BalanceIntegrationTest.php</file>
            <file>plugin/think-plugs-payment/tests/IntegralIntegrationTest.php</file>
            <file>plugin/think-plugs-payment/tests/PaymentRecordIntegrationTest.php</file>
            <file>plugin/think-plugs-payment/tests/PaymentLedgerIntegrationTest.php</file>
            <file>plugin/think-plugs-system/tests/CommonFunctionsTest.php</file>
            <file>plugin/think-plugs-worker/tests/CommonFunctionsTest.php</file>
            <file>plugin/think-plugs-worker/tests/ProcessServiceTest.php</file>
            <file>plugin/think-plugs-worker/tests/WorkerConfigTest.php</file>
            <file>plugin/think-plugs-worker/tests/QueueServiceTest.php</file>
            <file>plugin/think-plugs-wuma/tests/CodeTest.php</file>
            <file>plugin/think-plugs-wemall/tests/PaymentEventIntegrationTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
