.env
.git
.svn
.idea
.fleet
.vscode
.DS_Store
*.log
*.zip

/vendor
/composer.lock
!composer.json

/stc/public/static/theme/css/_*.css*
/stc/public/static/theme/css/node_modules
/stc/public/static/theme/css/package-lock.json
